.chat-main
  .group-info 
    .header
      .header-left test
      %ul.header-memberlist
        Member：
        %li.header-list 
          masa
    %a.header-right(href="#") Edit
  .message-field
    .message-box
      .message-list
        .user-name masa
        .post-date
          2019/11/20(Wed) 17:43:01
      .message おはよう！
    .message-box
      .message-list
        .user-name masa
        .post-date
          2019/11/20(Wed) 17:43:34
      .message 今日は夜から雨
  .footer
    .form
      .form-content
        %input.new-message{:type => "text", :placeholder => "type a message"}
          .photo
            %label{class: "photo__image"}
              = icon("far", "image photo")
              %input{type: "file",class: "photo__file"}
      %input.submit-btn{:type => "submit", :value => "Send"}