.side-bar
  .user-name 
    .top-items
      .name masa
      .icon 
        = link_to "#" do
          = icon('far', "edit pencil_white")
        = link_to "#" do
          = icon('fas', "cog round_white")
  .group-list 
    .list
      %p.group-name techcamp
      %p.group-message まだメッセージがありません